name: Quark Sign-in

on:
  schedule:
    - cron: '0 1 * * *'  # 每天 UTC 时间 1:00 执行，即北京时间 9:00

  workflow_dispatch:  # 手动触发

jobs:
  sign-in:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run Quark Sign-in
        env:
          COOKIE_QUARK: ${{ kps=LuGce34FrwtUuBICcB6sz3b6HD0VYfYAQpVvco4gAxR7em+JI+YB58rRdLEu1el2w03lctqjeLvb529b/AP+m97RerES/ze0++F5ePMO3hxJUjBi7/Xzg2kfPxsmzYOICbQ=; sign=LuE/3EpzPD93Ym0IYE+K6EnU+S1GtnQkE/0jvvs2sMJlald+rsj7RYCkaCIR2odzKko=; vcode=1767584024948&app=clouddrive }}
        run: |
          python checkIn_Quark.py
